
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    margin: auto;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #003b95;
    border-bottom: 1px solid black;
    position: relative;
  
  }


  
  .logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
  }

  .triplehide {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  
}

  
  .triplehide a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition:  0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .triplehide a:hover {
    background-color: #6c63ff;
  }

  .triplehide a.active{
    background-color: #6c63ff;
  }



  .auth_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth_buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
  }
  
  .login_btn {
    background: transparent;
    border: 1px solid #6c63ff;
    color: white;
  }
  
  .login_btn:hover {
    background: #6c63ff;
    color: white;
  }
  
  .register_btn {
    background: #6c63ff;
    color: white;
  }
  
  .register_btn:hover {
    background: #5848c2;
  }

  .userCircleNav{
     width: 40px;
      filter: invert(1);
       border-radius: 50%;
       cursor: pointer;

  }


.cart-icon {
  width: 35px;
  filter: invert(1); /* shows as white */
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

/* Hover effect */
.cart-icon:hover {
  transform: scale(1.1);
  filter: invert(64%) sepia(67%) saturate(734%) hue-rotate(211deg) brightness(93%) contrast(90%);
  /* this gives a hover color close to your #6c63ff */
}

/* Click effect */
.cart-icon:active {
  transform: scale(0.95);
  filter: invert(38%) sepia(76%) saturate(565%) hue-rotate(200deg) brightness(90%) contrast(95%);
  /* darker purple for active click */
}


.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  width: 250px;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  
}

.dropdown-item {
  padding: 12px;
  margin: 0px;
  border: none;
  /* background: none; */
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  word-wrap: break-word;  /* Allow breaking long words */
}

.dropdown-item:hover {
  background: #e7e7ef;
  border-radius: 8px;
}



.triple{
  display:none;
  width:30px;
  filter:invert(1);
}



.iconsRightBox{
  display: flex;
   align-items:center;
    gap: 15px;
     margin-right: 5px;

}

.navlogos{
  height:25px;
   margin-right:15px;
  display:none;

}



  